<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Responsive Viewport Configutation. -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Refresh the page every few seconds. -->
        <meta http-equiv="refresh" content="30" />

        <!-- Favicon. -->
        <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">

        <!-- Page Title. -->
        <title>{{ page.name }}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ 'bootstrap.min.css' | asset_url }}" rel="stylesheet">
        <link href="{{ 'bootstrap-overrides.css' | asset_url }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ 'jumbotron-narrow.css' | asset_url }}" rel="stylesheet">

        <!-- Status page styles for this template. -->
        <link href="{{ 'status-page.css' | asset_url }}" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="{{ 'ie8-responsive-file-warning.js' | asset_url }}"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries --> 
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="container">
            <div class="header">
                <!-- Brand logo. -->
                <img src="{{ 'logo.gif' | asset_url }}" alt="Brand logo." class="logo pull-left" />

                <!-- Use the page name as the title for the page. -->
                <h3 class="text-muted">{{ page.name }}</h3>
            </div>

            <!-- Switch the jumbotron class based on the page state for some useful colouring. -->
            <div class="jumbotron all-is-well-{% if page.apologies.current == empty %}true{% else %}false{% endif %}">
                <!-- Loop over the current apologies. -->
                {% for apology in page.apologies.current %}
                    <div class="apology current-apology">
                        <!--- Loop over any updates for the apology. -->
                        {% for update in apology.updates reversed %}
                            <!-- Put out the details of the update. -->
                            <p class="update">
                                <!-- Date posted. -->
                                <time class="text-muted">{{ update.created_at | time_ago_in_words }} ago</time> 

                                <!-- Comment for the update. -->
                                {{ update.content }}
                            </p>
                        {% endfor %}
                    </div>
                {% else %}
                    <!-- No current apologies, put out an all is well. -->
                    <h1>All Is Well</h1>
                {% endfor %}
            </div>

            <div class="row marketing">
                <div class="col-lg-12">
                    <!-- Output any recent but now closed apologies. -->
                    {% for apology in page.apologies.recent %}
                        <!-- The basic apology details. -->
                        <h4>
                            <!-- Date posted. -->
                            <time>Started: {{ apology.created_at | date: '%-d %B %R' }}</time>
                        </h4>

                        <!-- Any updates for this apology. -->
                        {% for update in apology.updates %}
                            <!-- Put out the details of the update. -->
                            <p>
                                <!-- Date posted. -->
                                <time class="text-muted">{{ update.created_at | date: '%-d %B - %R' }}</time> 

                                <!-- Comment for the update. -->
                                {{ update.content }}
                            </p>
                        {% endfor %}

                        <!-- Closed details. -->
                        <p>
                            <time><strong>Ended: {{ apology.closed_at | date: '%-d %B %R' }}</strong></time>
                        </p>
                    {% endfor %}
                </div>
            </div>

            <div class="footer">
                <!-- Copyright notice. -->
                <p>&copy; {{ page.name }} {{ 'today' | date: "%Y" }}</p>
            </div>

        </div>

        <!-- Bootstrap core Javascript. -->
        <script src="{{ 'bootstrap.min.js' | asset_url }}"></script>
    </body>
</html>